.card-game{
    width: 13rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-game-bg-color);
    border: .4rem solid #FFFCEE;
}